<br/>
<p>Добро пожаловать в систему Корпоративных закупок</p>
<h3>Подсистемы</h3>
<p><%= link_to "Подсистема торгов", tenders_path %></p>
<h3>Справочники</h3>
<p><%= link_to "Заказчики", customers_path %></p>
<h3>Классификаторы</h3>
<p><%= link_to "Единицы измерения", measures_path %></p>
<p><%= link_to "Виды продукции", product_types_path %></p>
<h3>Справочники типов</h3>
<p><%= link_to "Способы закупки", tender_types_path %></p>
<p><%= link_to "Статусы торгов", tender_states_path %></p>
