<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @measure.code %>
</p>

<p>
  <b>Name:</b>
  <%= @measure.name %>
</p>

<p>
  <b>Short name:</b>
  <%= @measure.short_name %>
</p>

<%= link_to 'Edit', edit_measure_path(@measure) %> |
<%= link_to 'Back', measures_path %>
